/* Usar ID e CLASS*/

/* TAGS NORMAIS */

body{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: 4px #000 solid; 
}

/* CABEÇALHO */

#titulo{
    font-family: 'BioRhyme', serif;
    text-align: center;
    background-color: rgb(156, 14, 14);
    color: #fff;
    border-bottom: 4px #000 solid;
    padding: 10px;
    box-sizing: border-box;
}

/* CONTEÚDO PRINCIPAL */

main{
    margin-left: 1%;
    margin-right: 1%;
    width: 58%;
    float: left;
}

main section h2{
    font-family: 'BioRhyme', serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

main section p{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

blockquote{
    border: 5px rgb(16, 30, 221) solid;
    width: auto;

}

blockquote p{
    text-align: center;
}

/* MENU */

.fotos {
    width: 100%;
    height: 200px;
}

nav{
    text-align: center;
    float: left;
    clear: right;
    width: 40%;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: block;
    width: inherit;
    height: 50px;
    border-bottom: #000 1px solid;
}

nav ul li a{
    display: block;
    width: inherit;
    height: inherit;
    background-color: rgb(156, 14, 14);
    font-family: 'BioRhyme', serif;
    text-decoration: none;
    color:#000;
}


/* RODAPÉ */

footer{
    border-top: #000 4px solid;
    clear: both;
}

footer p{
    text-align: right;
    clear: both;
}

.icones_sociais{
    text-align: center;
    clear: left;
    margin-top: 10px;
}

.icones_sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: aqua;
    text-indent: -9999px;
}

.icones_sociais li{
    display: inline-block;
    height: 50px;
}

.github {
    background-image: url(../images/github.png);
}

.twitter {
    background-image: url(../images/twitter.png);
}

.linkedin {
    background-image: url(../images/linkedin.png);
}

